<% include partials/_header.ejs %>

<% if (Object.keys(urls).length > 0) { %>

  <% let num = 0; %>

  <h5>My short Links</h5><p>

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Short Link</th>
        <th scope="col">Full URL Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

  <% for (let url in urls) { %>

    <% num++; %>
    <tr>
      <th scope="row"><%=num%></th>
      <td><a href="<%= urls[url].longURL %>" target="_blank"><%= url %></a></td>
      <td><%= urls[url].longURL %></td>
      <td>
        <div class=row>
        <div class="col-sm-2"><form method=get action="/urls/<%= url %>"><input type=submit value=edit class="btn-info"></form></div>
        <div class="col-sm-2"><form method=post action="/urls/<%= url %>/delete"><input type=submit value=delete class="btn-danger"></form></div>
        </div>
      </td>
    </tr>

  <% } %>

<% } else { %>

  <div class="container">Time to create some short links!</div>

<% } %>

<% include partials/_footer.ejs %>